/* STYLE COLOUR VARIABLES */

:root {
    --signal-colour: rgb(240, 91, 91);
    --signal-colour-hover: rgb(240, 91, 91, 0.7);
    --secondary-colour: rgb(100, 92, 92);
}

/* NAVBAR */

#logo {
    width: 20%;
    margin-right: 10px;
}

#app-name {
    font-family: 'DB Serif Display', serif;
    font-size: 30pt;
    padding-left: 10px;
}

#history,
#counter {
    font-family: 'IBM Plex Mono', bold;
    font-size: small;
    padding-right: 10px;
    color: var(--signal-colour);
}

#history {
    position: absolute;
    top: 40px;
    right: 20px;
}

/* JUMBOTRON */

#start-screen {
    font-family: 'DB Serif Display', serif, bold;
    background-image: url(../images/cropped_creative-g266a6dda1_1920.jpg);
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}


.display-4 {
    font-size: 30pt;
    margin: 30px;
}

p.task {
    font-family: "IBM Plex Mono";
    margin: 0px 50px 60px 50px;
}

.hide {
    display: none;
}


/* styling of prompt buttons */
.prompt-btn {
    transition: all 0.5s ease-in-out;
    width: 200px !important;
    font-size: large;
    text-align: center;
    font-family: "IBM Plex Mono", bold;
    margin: 10px;
    background-color: var(--signal-colour);
    border-color: var(--signal-colour);
    border-radius: 30px;
    box-shadow: 0 2px 10px rgb(100, 92, 92);
}

/* HOVER EFFECT */
#prompt-btn:hover {
    box-shadow: 0 5px 15px var(--signal-colour-hover);
}

/* BUTTONS */
/* Fact button  */

#fact {
    transition: all 0.5s ease-in-out;
    /* duration, timing function, delay */
}

#fact {
    width: 100px;
    font-size: large;
    text-align: center;
    font-family: "IBM Plex Mono", bold;
    margin: 10px;
    background-color: var(--signal-colour);
    border-color: var(--signal-colour);
    border-radius: 30px;
    box-shadow: 0 2px 10px rgb(100, 92, 92);
}

/* HOVER EFFECT */

#fact:hover {
    box-shadow: 0 5px 15px var(--signal-colour-hover);
}

/* Quote button  */

#quote {
    transition: all 0.5s ease-in-out;
    /* duration, timing function, delay */
}

#quote {
    width: 100px;
    font-size: large;
    text-align: center;
    font-family: "IBM Plex Mono", bold;
    margin: 10px;
    background-color: var(--signal-colour);
    border-color: var(--signal-colour);
    border-radius: 30px;
    box-shadow: 0 2px 10px rgb(100, 92, 92);
}

/* HOVER EFFECT */

#quote:hover {
    box-shadow: 0 5px 15px var(--signal-colour-hover);
}

/* image button  */

#random-img {
    transition: all 0.5s ease-in-out;
    /* duration, timing function, delay */
}

#random-img {
    width: 100px;
    font-size: large;
    text-align: center;
    font-family: "IBM Plex Mono", bold;
    margin: 10px;
    background-color: var(--signal-colour);
    border-color: var(--signal-colour);
    border-radius: 30px;
    box-shadow: 0 2px 10px rgb(100, 92, 92);

}

/* HOVER EFFECT */

#random-img:hover {
    box-shadow: 0 5px 15px var(--signal-colour-hover);
}

/* GIF button  */

#gif {
    transition: all 0.5s ease-in-out;
    /* duration, timing function, delay */
}

#gif {
    width: 100px;
    font-size: large;
    text-align: center;
    font-family: "IBM Plex Mono", bold;
    margin: 10px;
    background-color: var(--signal-colour);
    border-color: var(--signal-colour);
    border-radius: 30px;
    box-shadow: 0 2px 10px rgb(100, 92, 92);
}

/* HOVER EFFECT */

#gif:hover {
    box-shadow: 0 5px 15px var(--signal-colour-hover);
}

/* PROMPT ELEMENTS */

/* Main container for the writing prompts */

#prompt-container {

    display: flex;
    justify-content: center;

}

/* A class for all of them */
.prompt-element {
    padding: 20px;
    display: flex;
}


/* Quote element */
#quote-element {
    padding: 40px;
    font-family: 'DB Serif Display', serif;
    color: antiquewhite;
    display: block;
    background-color: var(--secondary-colour);
}

/*  Fact element */
#fact-element {
    font-family: 'IBM Plex Mono', bold;
    padding: 40px;
    background-color: var(--signal-colour-hover);
}

/* Image element */
#image-element {
    padding: 20px;
    max-width: 500px;
    margin-top: 20px;
    border-color: var(--signal-colour);
    border-style: groove;
    border-radius: 10px;

}

/* GIF element */
#gif-element {
    padding: 20px;
    max-width: 500px;
    margin-top: 20px;
    border-color: var(--signal-colour);
    border-style: groove;
    border-radius: 10px;


}



/* TEXT AREA */

#text-area {

    align-items: center;
    border-color: gray;
    display: flex;
    flex-direction: column;
    margin: 20px;

}

#text-area-element {

    font-family: 'Caveat';
    font-size: 20pt;
    padding: 30px;
    align-items: center;
    border-color: gray;
    display: flex;
    flex-direction: column;
    height: 400px;
    margin: 20px;
}

/* SAVE and PUBLISH BUTTONS */

/* Container for both buttons */

#text-buttons-container {
    font-family: 'IBM Plex Mono';

}

/* Save button */

#save-button {
    font-family: 'IBM Plex Mono';
    width: 150px;
    font-size: large;
    text-align: center;
    margin: 30px;
    background-color: var(--secondary-colour);
    border-color: var(--secondary-colour);
    border-radius: 10px;

}

/* Publish button */

#publish-button {
    width: 150px;
    font-size: large;
    text-align: center;
    font-family: "IBM Plex Mono";
    margin: 10px;
    background-color: var(--signal-colour);
    border-color: var(--signal-colour);
    border-radius: 10px;
}

footer {
    font-family: "IBM Plex Mono";
    color: var(--secondary-colour);
}

.link {
    color: var(--secondary-colour);
}

.link:hover {
    color: var(--signal-colour);
    text-decoration: none;
    text-decoration: none !important;
}

/* PUBLISHED PAGE */

.publishedCard {
    margin: 20px;
    padding: 20px;
    border: 20px;
    background-color: var(--alt-colour);
    border-color: var(--alt-colour);
    border-radius: 20px !important;
    border-style: none;
    box-shadow: 0 2px 10px rgb(202, 201, 201);
    transition: all 0.8s ease-in-out;
}

.publishedCard:hover {
    box-shadow: 0 2px 10px var(--signal-colour);
}

/* NEW ENTRY CONTAINER FOR SAVED TEXT FIELD */

#new-entry-container {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    align-self: center;
    align-items: center;
    gap: 20px;
    margin: 50px 300px 50px 300px;
}

#published-screen {
    font-family: 'DB Serif Display', serif, bold;
    background-image: url(../images/ripped_lined_paper_jumbotron.jpg);
    background-size: cover;
    min-height: fit-content;
    text-align: center;
}

.jumbotron-published {
    min-height: fit-content;
    text-align: center;
    margin-top: 30px;
}

/* SOUNDTOGGLE */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    float: right;
    width: 60px;
    height: 34px;
    margin-right: 10px;
}

label {
    float: right;
    font-family: "IBM Plex Mono";
    color: var(--secondary-colour);
    position: relative;
    margin-right: 10px;
    font-size: small;
    align-content: center;
    justify-content: center;
    display: inline-block;
    padding-top: 8px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--signal-colour);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--signal-colour);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}