/* STYLE COLOUR VARIABLES */

:root {
    --signal-colour: rgb(240, 91, 91);
    --signal-colour-hover: rgb(240, 91, 91, 0.7);
    --secondary-colour: rgb(100, 92, 92);
    --alt-colour: rgb(239, 165, 165);
}

/* NAVBAR */

#app-name {
    font-family: 'DB Serif Display', serif;
    font-size: 50pt;
    padding-left: 10px;
}

#counter {
    font-family: 'IBM Plex Mono', bold;
    font-size: small;
    padding-right: 10px;
    color: var(--signal-colour);
}

#published {
    font-family: 'IBM Plex Mono', bold;
    font-size: small;
    padding-right: 10px;
    color: var(--signal-colour);
}

/* JUMBOTRON */

#start-screen {
    font-family: 'DB Serif Display', serif, bold;
    background-image: url(../images/ripped_lined_paper_jumbotron.jpg);
    background-size: cover;
    min-height: fit-content;
    text-align: center;
}

.jumbotron {
    min-height: fit-content;
    text-align: center;
    height: 400px;
}

.display-4 {
    font-size: 40pt;
    margin: 30px;
}

p.task {
    font-family: "IBM Plex Mono";
    margin: 0px 70px 60px 70px;

}


/* BUTTONS */

/* Fact button  */

#fact {
    transition: all 0.8s ease-in-out;
    /* duration, timing function, delay */
}

#fact {
    width: 100px;
    font-size: large;
    text-align: center;
    font-family: "IBM Plex Mono", bold;
    margin: 10px;
    background-color: var(--signal-colour);
    border-color: var(--signal-colour);
    border-radius: 30px;
    box-shadow: 0 2px 10px rgb(100, 92, 92);
}

/* HOVER EFFECT */

#fact:hover {
    box-shadow: 0 5px 15px var(--signal-colour-hover);
}

/* Quote button  */

#quote {
    transition: all 0.5s ease-in-out;
    /* duration, timing function, delay */
}

#quote {
    width: 100px;
    font-size: large;
    text-align: center;
    font-family: "IBM Plex Mono", bold;
    margin: 10px;
    background-color: var(--signal-colour);
    border-color: var(--signal-colour);
    border-radius: 30px;
    box-shadow: 0 2px 10px rgb(100, 92, 92);
}

/* HOVER EFFECT */

#quote:hover {
    box-shadow: 0 5px 15px var(--signal-colour-hover);
}

/* image button  */

#random-img {
    transition: all 0.5s ease-in-out;
    /* duration, timing function, delay */
}

#random-img {
    width: 100px;
    font-size: large;
    text-align: center;
    font-family: "IBM Plex Mono", bold;
    margin: 10px;
    background-color: var(--signal-colour);
    border-color: var(--signal-colour);
    border-radius: 30px;
    box-shadow: 0 2px 10px rgb(100, 92, 92);

}

/* HOVER EFFECT */

#random-img:hover {
    box-shadow: 0 5px 15px var(--signal-colour-hover);
}

/* GIF button  */

#gif {
    transition: all 0.5s ease-in-out;
    /* duration, timing function, delay */
}

#gif {
    width: 100px;
    font-size: large;
    text-align: center;
    font-family: "IBM Plex Mono", bold;
    margin: 10px;
    background-color: var(--signal-colour);
    border-color: var(--signal-colour);
    border-radius: 30px;
    box-shadow: 0 2px 10px rgb(100, 92, 92);
}

/* HOVER EFFECT */

#gif:hover {
    box-shadow: 0 5px 15px var(--signal-colour-hover);
}

/* MODAL */
/* DELETE BUTTON */

#deleteBtn.btn.btn-danger {
    width: 100px;
    font-size: large;
    text-align: center;
    font-family: "IBM Plex Mono", bold;
    margin: 10px;
    background-color: var(--signal-colour);
    border-color: var(--signal-colour);
    border-radius: 30px;
    box-shadow: 0 2px 10px rgb(100, 92, 92);
    transition: all 0.5s ease-in-out;
}

#deleteBtn.btn.btn-danger:hover {
    box-shadow: 0 5px 15px var(--signal-colour-hover);
}

.modal-footer{
    align-content: center;
    justify-content: center;
}

/* CANCEL BUTTON */

#cancelBtn.btn.btn-secondary {
    width: 100px;
    font-size: large;
    text-align: center;
    font-family: "IBM Plex Mono", bold;
    margin: 10px;
    background-color: var(--secondary-colour);
    border-color: var(--secondary-colour);
    border-radius: 30px;
    box-shadow: 0 2px 10px rgb(100, 92, 92);
    transition: all 0.5s ease-in-out;
}

#cancelBtn.btn.btn-secondary:hover {
    box-shadow: 0 5px 15px var(--signal-colour);
}

/* PROMPT ELEMENTS */

/* Main container for the writing prompts */

#prompt-container {
    display: flex;
    justify-content: center;

}

/* A class for all of them */
.prompt-element {
    padding: 20px;
    display: flex;
}


/* Quote element */
#quote-element {
    padding: 40px;
    font-family: 'DB Serif Display', serif;
    color: antiquewhite;
    display: block;
    background-color: var(--secondary-colour);
}

/*  Fact element */
#fact-element {
    font-family: 'IBM Plex Mono', bold;
    padding: 40px;
    background-color: var(--signal-colour-hover);
}

/* Image element */
#image-element {
    padding: 20px;
    max-width: 500px;
    margin-top: 20px;
    border-color: var(--signal-colour);
    border-style: groove;
    border-radius: 10px;

}

/* GIF element */
#gif-element {
    padding: 20px;
    max-width: 500px;
    margin-top: 20px;
    border-color: var(--signal-colour);
    border-style: groove;
    border-radius: 10px;
}

/* TEXT AREA */

#text-area {

    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 50px;

}

#text-area-element {

    font-family: 'Caveat';
    font-size: 20pt;
    padding: 30px;
    align-items: center;
    border-color: gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 400px;
    margin: 10px;
}


/* Container for buttons */

#text-buttons-container {
    font-family: 'IBM Plex Mono';
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-around;


}

/* SAVE and PUBLISH BUTTONS */

#save-button {
    width: 150px;
    height: 45px;
    font-size: large;
    text-align: center;
    font-family: "IBM Plex Mono", bold;
    margin: 10px;
    background-color: var(--alt-colour);
    border-color: var(--alt-colour);
    border-radius: 30px !important;
    border-style: none;
    box-shadow: 0 2px 10px rgb(100, 92, 92);
    transition: all 0.8s ease-in-out;

}

#save-button:hover {
    box-shadow: 0 5px 15px var(--signal-colour) !important;
}

#publish-button {
    width: 150px;
    height: 45px;
    font-size: large;
    text-align: center;
    font-family: "IBM Plex Mono", bold;
    margin: 10px;
    background-color: var(--signal-colour);
    border-color: var(--signal-colour);
    border-radius: 30px !important;
    border-style: none;
    box-shadow: 0 2px 10px rgb(100, 92, 92);
    transition: all 0.8s ease-in-out;
}

#publish-button:hover {
    box-shadow: 0 5px 15px var(--signal-colour-hover);
}

/* DISCARD button */

#discard-button {

    font-size: large;
    height: 45px;
    width: 150px;
    text-align: center;
    font-family: "IBM Plex Mono", bold;
    margin: 10px;
    background-color: var(--secondary-colour);
    border-color: var(--secondary-colour);
    border-radius: 30px;
    border-style: none;
    box-shadow: 0 2px 10px rgb(184, 60, 60);
    transition: all 0.8s ease-in-out;

}

#discard-button:hover {
    background-color: var(--signal-colour);
    box-shadow: 0 5px 15px var(--signal-colour-hover);
}

/* FOOTER */

footer {
    font-family: "IBM Plex Mono";
    color: var(--secondary-colour);
    margin-bottom: 35px;
    margin-top: 95px;

}

.link {
    color: var(--secondary-colour);
}

.link:hover {
    color: var(--signal-colour);
    text-decoration: none;
    text-decoration: none !important;
}

/* PUBLISHED PAGE */

#publishedCard {
    margin: 20px;
    padding: 20px;
    border: 20px;
    background-color: var(--alt-colour);
    border-color: var(--alt-colour);
    border-radius: 20px !important;
    border-style: none;
    box-shadow: 0 2px 10px rgb(202, 201, 201);
    transition: all 0.8s ease-in-out;
    font-family: "IBM Plex Mono", bold;
}

#publishedCard:hover {
    box-shadow: 0 2px 10px var(--signal-colour);
}

#cardMargin {
    margin-top: 50px;
    padding-top: 50px;
}

/* NEW ENTRY CONTAINER FOR SAVED TEXT FIELD */

#new-entry-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: fit-content;
    align-self: center;
    align-items: center;
    gap: 20px;
 
    padding: 50px;
    border: 20px;
    text-align: justify;
}

#new-entry-container h3 {
    font-family: "IBM Plex Mono";
    font-size: 4vh;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-self: center;
    text-align: center;
}

#new-entry-container p {
    font-family: 'DB Serif Display', serif;
    font-size: 2.5vh;
    margin-left: 20px;
    margin-bottom: 20px;
    justify-content: center;
    
}


#published-screen {
    font-family: 'DB Serif Display', serif, bold;
    background-image: url(../images/ripped_lined_paper_jumbotron.jpg);
    background-size: cover;
    min-height: fit-content;
    text-align: center;
}

.jumbotron-published {
    min-height: fit-content;
    text-align: center;
    height: 900px;
    margin-top: 40px;
}

/* SOUNDTOGGLE */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    float: right;
    width: 60px;
    height: 34px;
    margin-right: 10px;
}

label {
    float: right;
    font-family: "IBM Plex Mono";
    color: var(--secondary-colour);
    position: relative;
    margin-right: 10px;
    font-size: small;
    align-content: center;
    justify-content: center;
    display: inline-block;
    padding-top: 8px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--signal-colour);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--signal-colour);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Published Cards */

.blogCard {
    margin: 20px;
    padding: 20px;
    border: 20px;
    background-color: var(--alt-colour);
    border-color: var(--alt-colour);
    border-radius: 20px !important;
    border-style: none;
    box-shadow: 0 2px 10px rgb(202, 201, 201);
    transition: all 0.8s ease-in-out;
    font-family: "IBM Plex Mono", bold;
    max-width: 300px;
}

.blogCard:hover {
    box-shadow: 0 2px 10px var(--signal-colour);
}


.readBtn {
    font-size: large;
    text-align: center;
    color: aliceblue;
    font-family: "IBM Plex Mono", bold;
    margin: 10px;
    background-color: var(--signal-colour);
    border-color: var(--signal-colour);
    border-radius: 30px;
    border-style: none;
    box-shadow: 0 2px 10px rgb(184, 60, 60);
    transition: all 0.8s ease-in-out;

}

#readBtn:hover {
    background-color: var(--signal-colour);
    box-shadow: 0 5px 15px var(--secondary-colour);
}

#sectionHeader {
    font-family: "IBM Plex Mono", bold;
    margin-top: 20px;
    font-size: 30px;

}

a {
    text-decoration: none;
}

#saved {
    color: var(--signal-colour);
    text-decoration: none;
}

#nav-bar {
    font-family: 'IBM Plex Mono', bold;
    font-size: small;
    padding-right: 10px;
    color: var(--signal-colour);
}

#nav-bar a:hover {
    text-decoration: none;
    color: var(--signal-colour);
    text-decoration: none;
    text-decoration: none !important;
}

/* SAVED PAGE */

.savedWriting {
    margin: 20px;
    padding: 20px;
    border: 20px;
    background-color: var(--alt-colour);
    border-color: var(--alt-colour);
    border-radius: 20px !important;
    border-style: none;
    box-shadow: 0 2px 10px rgb(202, 201, 201);
    transition: all 0.8s ease-in-out;
    font-family: "IBM Plex Mono", bold;
    max-width: 300px;
}

.savedWriting:hover {
    box-shadow: 0 2px 10px var(--signal-colour);
}

#nav-links-container{
display: flex;
gap: 30px;
}

#saved:hover {
    text-decoration: underline;
}

#published:hover {
    text-decoration: underline;
}

.blogCard {
  text-align: center;
}


#publishedWork {
    display: flex;
    justify-content: flex-start;
    justify-items: flex-start;
    
}


.container {
    margin-right: 100px;
}