/* STYLE COLOUR VARIABLES */

:root {
    --signal-colour: rgb(240, 91, 91);
    --signal-colour-hover: rgb(240, 91, 91, 0.7);
    --secondary-colour: rgb(100, 92, 92);
}

/* NAVBAR */

#app-name {
    font-family: 'DB Serif Display', serif;
    font-size: 50pt;
    padding-left: 10px;
}

#counter {
    font-family: 'IBM Plex Mono', bold;
    font-size: small;
    padding-right: 10px;
    color: var(--signal-colour);
}

/* JUMBOTRON */

#start-screen {
    font-family: 'DB Serif Display', serif, bold;
    background-image: url(../images/ripped_lined_paper_jumbotron.jpg);
    background-size: cover;
    min-height: fit-content;
    text-align: center;
}

.jumbotron {
    min-height: fit-content;
    text-align: center;
    height: 400px;
  }

.display-4 {
    font-size: 35pt;
    margin: 30px;
}


/* BUTTONS */

/* Fact button  */

#fact {
    width: 100px;
    font-size: large;
    text-align: center;
    font-family: "IBM Plex Mono";
    margin: 10px;
    background-color: var(--signal-colour);
    border-color:  var(--signal-colour);
    border-radius: 30px;
    box-shadow: 0 2px 10px rgb(100, 92, 92);
}

/* HOVER EFFECT */

#fact:hover{
    box-shadow: 0 5px 15px var(--signal-colour-hover);
}

/* Quote button  */
#quote {
    width: 100px;
    font-size: large;
    text-align: center;
    font-family: "IBM Plex Mono";
    margin: 10px;
    background-color: var(--signal-colour);
    border-color: var(--signal-colour);
    border-radius: 30px;
    box-shadow: 0 2px 10px rgb(100, 92, 92);
}

/* HOVER EFFECT */

#quote:hover{
    box-shadow: 0 5px 15px var(--signal-colour-hover);
}

/* image button  */

#random-img {
    width: 100px;
    font-size: large;
    text-align: center;
    font-family: "IBM Plex Mono";
    margin: 10px;
    background-color: var(--signal-colour);
    border-color: var(--signal-colour);
    border-radius: 30px;
    box-shadow: 0 2px 10px rgb(100, 92, 92);

}

/* HOVER EFFECT */

#random-img:hover{
    box-shadow: 0 5px 15px var(--signal-colour-hover);
}

/* GIF button  */

#gif {
    width: 100px;
    font-size: large;
    text-align: center;
    font-family: "IBM Plex Mono";
    margin: 10px;
    background-color: var(--signal-colour);
    border-color: var(--signal-colour);
    border-radius: 30px;
    box-shadow: 0 2px 10px rgb(100, 92, 92);
}

/* HOVER EFFECT */

#gif:hover{
    box-shadow: 0 5px 15px var(--signal-colour-hover);
}

/* PROMPT ELEMENTS */

/* Main container for the writing prompts */

#prompt-container {
    align-items: center;
    align-content: center;

}

/* A class for all of them */
.prompt-element {
    align-items: center;
    align-self: center;
    padding: 10px;
    flex: 1;
}

/* Quote element */
#quote-element {
    align-items: center;
    align-self: center;
    align-content: flex-start;
    padding: 50px;
    flex: 1;
    font-family: 'DB Serif Display', serif;
    color: antiquewhite;
    background-color: var(--secondary-colour);
}

/*  Fact element */
#fact-element {
    align-items: center;
    align-self: center;
    align-content: flex-start;
    padding: 50px;
    flex: 1;
    background-color: var(--signal-colour-hover);
}

/* Image element */
#image-element {
    padding: 10px;
    flex: 1;
    max-height: 200px;
    align-content: space-around;
}

/* GIF element */
#gif-element {
    padding: 10px;
    flex: 1;
    max-height: 200px;
    align-content: space-around;
}



/* TEXT AREA */

#text-area {
    font-family: "Caveat";
    width: 80%;
    padding: 20px !important;
    align-items: center;
    margin: 20px;
    border-color: gray;
    align-self: center;
    align-content: flex-start;
    flex: 1;
}


/* SAVE and PUBLISH BUTTONS */

/* Container for both buttons */

#text-buttons-container {
    align-items: center;
}

/* Save button */

#save-button {
    font-family: "IBM Plex Mono";
    width: 150px;
    font-size: large;
    text-align: center;
    font-family: "IBM Plex Mono";
    margin: 10px;
    background-color: var(--secondary-colour);
    border-color: var(--secondary-colour);
    border-radius: 10px;
    align-items: center;
    
}

/* Publish button */

#publish-button {
    font-family: "IBM Plex Mono";
    width: 150px;
    font-size: large;
    text-align: center;
    font-family: "IBM Plex Mono";
    margin: 10px;
    background-color: var(--signal-colour);
    border-color: var(--signal-colour);
    border-radius: 10px;
    align-items: center;
}